/*test Google web fonts CSS only */
@font-face {
    font-family: 'comic';
    src: url('http://paulklipp.com/images/comic.ttf');
}

/* Change the font to Annie Get Your Telescope */
body {
  font-family: "comic", cursive !important;
}

/* match the header color to the logo background */
#header {
  background-color: RGB(40, 115, 190) !important;
}

/* Make the tabs black */
a.toggle {
  background-color: black !important;
}
/* Make the columns more narrow */
li.column-view {
  width: 200px !important;
}
/* Hide the bar with the column names */
.board-top-bar {
  height: 0px !important;
}
/* Remove the powered by Kanbanery text under the logo */
.powered {
  height: 0px !important;
}

/* Change the background color of the columns */
#content {
	background-image: URL(http://paulklipp.com/images/pow.jpg) !important;
}

/* Add a drop shadow around user avatar */
.task-owner {
	-webkit-box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.75) !important;
-moz-box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.75) !important;
box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.75) !important;
}
li.column-view {
	width: 250px !important;
}
.task-card {
	width: 200px !important;
	background-color: yellow !important;
}
.column-view-header-content {
	background-color: white !important;
	
/* set deadline background color */
.task-deadline {
	background-color: white !important;
}
