#header {
  background-color: RGB(40, 115, 190) !important;
}
body {
  font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}
a.toggle {
  background-color: black;
}
li.column-view {
  width: 200px;
}
.board-top-bar {
  height: 0px !important;
}
.powered {
  height: 0px !important;
}


